html{
    height: 100%;
}

body{
    min-height: 100%;
    margin:0;
    padding: 0;
    position: relative;
    font-family: "微软雅黑";
    font-size: 13px;
}

nav{
    background: #fff;
    height:60px; 
}

a{
    text-decoration: none;
}

nav ul{
    list-style: none;
    margin: 0;
}

nav ul .logo{
    float: left;
    margin-left: 5%;
}

nav ul li{
    display: inline-block;
    height: 60px;
    float: right;
    margin-right: 2%;
}

nav ul li a{
    height:inherit;
    line-height: 60px;
    font-size: 13px;
    font-family: "微软雅黑";
    text-decoration: none;
    display: inline-block;
}

a:link{
    color: #0464F7;
}
a:visited{
    color: #0464F7;
}
a:hover{
    color: green;
}
a:active{
    color: grey;
}

nav ul li a img{
    height: 60px;
    width: 480px;
}

#banner{
    background-image: url("../img/binner.jpg");
    background-size: cover;
    height: 320px;
}

#content{
    width: 80%;
    margin: 0 auto;
    height: 1000px;
}

#content .separator-line{
    height: 6px;
    margin: 5% 0 3% 0;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

#content .intro{
    border-bottom: #404040 1px solid;
}

#content .intro .intro-left{
    background: url(../img/intro.png) no-repeat;
    width: 200px;
    height:142px;
    float: left;
    margin:10px;
}

.intro h3{
    font-weight: bold;
    color: #055C9A;
    text-align: left;
    padding: 10px 0 0;
}

.intro p{
    text-align: left;
    text-indent: 2em;
    font-size: 14px;
    line-height: 20px;
}

.product{
    margin-top: 3%;
}

.product-1{
    width:40%;
    background: #fff;
    padding-left:5%;
    float: left;
}

.numClass-0{
    color: lightgreen;
    border-bottom: 3px solid blue;
}

.numClass-1{
    color: lightgreen;
    font-size:26px;
    font-weight: 500;
}

.product-1 p{
   text-indent: 2em;
   line-height: 1.5em;
   text-align: left;
}

.product-1 pre{
    display: block;
    color: #17862e;
    font-size: 12px;
    line-height: 1.5em;
}

.product-2{
    width:40%;
    background: #fff;
    padding-left:5%; 
    padding-right:5%;
    float: right;
}

.product-2 p{
   text-indent: 2em;
   line-height: 1.5em;
   text-align: left;
}

.product-2 pre{
    display: block;
    color: #17862e;
    font-size: 12px;
    line-height: 1.5em;
}

.button-more{
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #ccc;
    border-radius: 4px;
    position: relative;
    float: right;
}

footer{
    clear: both;
    height: 150px;
    background: #111;
}

/*footer nav ul li{
    display: inline-block;
}*/